.letra{
    color: white;
    text-transform: uppercase;
}
.letra2{
    color: rgb(221, 221, 221);
    font-size: 30px;
}
.letra3{
  color: #fff;
  font-size: 30px;
}
.estilo__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 20%;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-image: -moz-linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
    background-image: -webkit-linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
    background-image: -ms-linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
    background-image: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
    -webkit-box-shadow: 0 0 20px 0 rgba(119, 119, 119, 0.5);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    opacity: 0.85;
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .estilo__btn:hover{
    background-image: -moz-linear-gradient(90deg, #fff5a5 0%, #fff860 100%);
    background-image: -webkit-linear-gradient(90deg, #fff5a5 0%, #fff860 100%);
    background-image: -ms-linear-gradient(90deg, #fff5a5 0%, #fff860 100%);
    background-image: linear-gradient(90deg, #fff5a5 0%, #fff860 100%);
    background-color: rgb(33, 171, 226);
    color: rgb(47, 0, 255);
    text-decoration: none;
    padding: 0.5px;
    border-radius: 5px;
  }
  .right {
    position: absolute;
    right: 0px;
    width: 300px;
    top: 250px;
    
  }