{% extends "app/base.html" %}
{% load static %}

{% block contenido %}
<section class="section section--first section--bg" data-bg="{% static 'img/section/section.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section__wrap">
                    <hr>
                    <div class="container bootstrap snippet">
                        <div>
                            <!--/col-9-->
                            <div class="tab-pane" id="category">
                                <h2></h2>
                                <hr>
                                <form class="form" action="{% url 'post_crear_administrador' %}" method="POST"
                                    id="registrationForm">
                                    {% csrf_token %}
                                    <!--Nuevo Admin-->
                                    <div class="form-group">

                                        <div class="col-xs-6">
                                            <label for="first_name">
                                                <h4 class="letra">Nombre:</h4>
                                            </label>
                                            <input type="text" class="form-control" name="first_name" id="first_name"
                                                placeholder="first name" title="enter your first name if any.">
                                        </div>
                                    </div>
                                    <div class="form-group">

                                        <div class="col-xs-6">
                                            <label for="last_name">
                                                <h4 class="letra">Apellido:</h4>
                                            </label>
                                            <input type="text" class="form-control" name="last_name" id="last_name"
                                                placeholder="last name" title="enter your last name if any.">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-6">
                                            <label for="phone">
                                                <h4 class="letra">username:</h4>
                                            </label>
                                            <input type="text" class="form-control" name="username" id="username"
                                                placeholder="enter username" title="enter your username.">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-6">
                                            <label for="email">
                                                <h4 class="letra">Email:</h4>
                                            </label>

                                            <input type="email" class="form-control" name="email" id="email"
                                                placeholder="you@email.com" title="enter your email.">
                                        </div>
                                    </div>
                                    <div class="form-group">

                                        <div class="col-xs-6">
                                            <label for="password">
                                                <h4 class="letra">Contraseña:</h4>
                                            </label>
                                            <input type="password" class="form-control" name="password" id="password"
                                                placeholder="password" title="enter your password.">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-6">
                                            <button class="sign__btn" type="submit">
                                                <i class="icon ion-ios-log-out"></i>
                                                <span>Crear</span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <!--/tab-pane-->
                            </div>
                            <!--/tab-pane-->
                        </div>
                        <!--/row-->
                    </div>
                </div>
            </div>
        </div>
</section>

<!--/tab-pane-->
{% endblock %}