{% extends "app/base.html" %}
{% load static %}

{% block contenido %}

<section class="section section--first section--bg" data-bg="{% static 'img/section/section.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section__wrap">
                    <hr>
                    <div class="container bootstrap snippet">
                        <div><!--/col-9-->
                            <div class="tab-pane" id="category">
                                <h2></h2>
                                <hr>
                                <form class="form" action="{% url 'post_crear_categoria' %}" method="POST" name="nueva_categoria">
                                    {% csrf_token %}
                                    <!--Nuevo Categoria-->
                                    <div class="form-group">
                                        <div class="col-xs-6">
                                            <label for="first_name">
                                                <h4 class="letra">Category</h4>
                                            </label>
                                            <input type="text" name="nombre">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                    </div>
                                    <button class="filter__btn" type="submit">Save</button>
                                </form>
                            </div>
                            <!--/tab-pane-->
                        </div><!--/row-->
                    </div>
                </div>
            </div>
        </div>
</section>


{% endblock %}