{% extends "app/base.html" %}
{% load static %}

{% block contenido %}
<section class="section section--first section--bg" data-bg="{% static 'img/section/section.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section__wrap">
                    <hr>
                    <div class="container bootstrap snippet">
                        <div>
                            <!--/col-9-->
                            <div class="tab-pane" id="category">
                                <h2></h2>
                                <hr>
                                <form class="form" action="{% url 'post_editar_pelicula' %}" method="POST"
                                    id="registrationForm" enctype="multipart/form-data">
                                    <!--Nuevo Pelicula-->
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <div class="col-xs-6">
                                            <label class="letra">
                                                <h4>Seleccione la pelicula</h4>
                                            </label> 
                                            <select class="browser-default custom-select" name="pelicula">
                                                {% for p in peliculas %}
                                                <option value="{{p.id}}">{{p.titulo}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-6">
                                                <button class="sign__btn" type="submit">
                                                    <i class="icon ion-ios-log-out"></i>
                                                    <span>Editar</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                            <!--/tab-pane-->
                        </div>
                        <!--/row-->
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}