{% extends "app/base.html" %}
{% load static %}

{% block contenido%}
<section class="section section--first section--bg" data-bg="{% static 'img/section/section.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section__wrap">
                    <hr>
                    <div class="container bootstrap snippet">
                        <div class="row">
                            <div class="card__title">
                                <h1>My Account</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <!--left col-->
                                <!--Foto de perfil-->
                                <div class="text-center">
                                    <img src="{% static 'img/foto.jpg' %}" height="200" width="200">
                                </div>
                                </hr><br>
                            </div>
                            <!--/col-3-->
                            <div class="col-sm-9">
                                <ul class="nav nav-tabs">
                                    <!--Funciones Admin-->
                                    <p class="home__title">Options</p>
                                    <br>
                                    <ul class="admin__li">
                                        <a class="filter__btn" href="{% url 'lista_categorias' %}">Listar Categorias</a>
                                        <br>
                                        <a class="filter__btn" href="{% url 'admin_crear_categoria' %}">Nueva Categoria</a>
                                        <br>
                                        <a class="filter__btn" href="{% url 'lista_peliculas' %}">Listar Peliculas</a>
                                        <br>
                                        <a class="filter__btn" href="{% url 'admin_crear_pelicula' %}">Nueva Pelicula</a>.
                                        <br>
                                        <a class="filter__btn" href="{% url 'editar_pelicula' %}">Editar Pelicula</a>
                                        <br>
                                        <a class="filter__btn" href="{% url 'admin_crear_administrador' %}">Nuevo Administrador</a>
                                    </ul>
                                </ul>
                            </div>
                            <!--/tab-content-->
                        </div>
                    </div>
                </div>
            </div>
</section>



<!-- footer -->
<footer class="footer">
    <div class="container">
        <div class="row">

            <!-- footer ast -->

            <!-- end footer list -->

            <!-- footer copyright -->
            <div class="col-12">
                <div class="footer__copyright">
                    <small><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></small>
                </div>
            </div>
            <!-- end footer copyright -->
        </div>
    </div>
</footer>
<!-- end footer -->
{% endblock %}