{% extends "app/base.html" %}
{% load static %}

{% block contenido %}
<section class="section section--first section--bg" data-bg="{% static 'img/section/section.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section__wrap">
                    <hr>
                    <div class="container bootstrap snippet">
                        <div>
                            <!--/col-9-->
                            <div class="tab-pane" id="category">
                                <h2></h2>
                                <hr>
                                {% if pelicula %}
                                <form class="form" action="{% url 'post_guardar_editar_pelicula' %}" method="POST"
                                    id="registrationForm">
                                    {% else %}
                                    <form class="form" action="{% url 'post_crear_pelicula' %}" method="POST"
                                        id="registrationForm" enctype="multipart/form-data">
                                        {% endif %}
                                        <!--Nuevo Pelicula-->
                                        {% csrf_token %}
                                        <div class="form-group">
                                            {% if pelicula %}
                                            <select class="browser-default custom-select" name="pelicula">
                                                <option value="{{pelicula.id}}">{{pelicula.titulo}}</option>
                                            </select>
                                            {% endif %}
                                            <div class="col-xs-6">
                                                <label for="first_name">
                                                    <h4 class="letra">Movie's name</h4>
                                                </label>
                                                <input type="text" class="form-control" name="nombre" id="Movie´s name"
                                                    placeholder="Movie's name" title="enter your movie's name" value="{{pelicula.titulo}}"></input>
                                            </div>
                                        </div>
                                        <div class="form-group">

                                            <div class="col-xs-6">
                                                <label for="last_name">
                                                    <h4 class="letra">Synopsis</h4>
                                                </label>
                                                <input type="text" class="form-control" name="sinopsis" id="last_name"
                                                    placeholder="Synoposis" title="Enter the Synoposis" value="{{pelicula.sinopsis}}">
                                            </div>
                                        </div>

                                        <div class="form-group">

                                            <div class="col-xs-6">
                                                <label for="phone">
                                                    <h4 class="letra">Year</h4>
                                                </label>
                                                <input type="text" class="form-control" name="anio" id="phone"
                                                    placeholder="Year" title="enter the Year" value="{{pelicula.anio}}">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-xs-6">
                                                <label for="mobile">
                                                    <h4 class="letra">Actors</h4>
                                                </label>
                                                <input type="text" class="form-control" name="reparto" id="mobile"
                                                    placeholder="Actors" title="enter the actors" value="{{pelicula.actores}}">
                                            </div>
                                        </div>
                                        <div class="form-group">

                                            <div class="col-xs-6">
                                                <label for="email">
                                                    <h4 class="letra">Duration</h4>
                                                </label>
                                                <input type="text" class="form-control" name="duracion" id="email"
                                                    placeholder="Duration" title="enter the duration" value="{{pelicula.duracion}}">
                                            </div>
                                        </div>
                                        <div class="form-group">

                                            <div class="col-xs-6">
                                                <label for="email">
                                                    <h4 class="letra">Category</h4>
                                                </label>
                                                <select multiple class="form-control" name="m_categories"
                                                    id="exampleFormControlSelect2">
                                                    {% for c in categorias %}
                                                    <option value="{{c.id}}">{{c.nombre}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">

                                            <div class="col-xs-6">
                                                <label class="letra">
                                                    <h4>En Cartelera?</h4>
                                                </label>
                                                <select class="browser-default custom-select" name="cartelera">
                                                    <option selected value="1">Si</option>
                                                    <option value="0">No</option>
                                                </select>
                                            </div>
                                            {% if not pelicula %}
                                            <div class="col-xs-6">
                                                <label for="email">
                                                    <h4 class="letra">Poster</h4>
                                                </label>
                                                <input type="file" class="form-control" id="location"
                                                    placeholder="somewhere" title="enter the Poster" name="img">
                                            </div>
                                            {% endif %}
                                            <div class="form-group">
                                                <div class="col-xs-6">
                                                    <button class="sign__btn" type="submit">
                                                        <i class="icon ion-ios-log-out"></i>
                                                        {% if pelicula %}
                                                        <span>Editar</span>
                                                        {% else %}
                                                        <span>Crear</span>
                                                        {% endif %}
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                            </div>
                            <!--/tab-pane-->
                        </div>
                        <!--/row-->
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}