{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/nouislider.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/plyr.css' %}">
	<link rel="stylesheet" href="{% static 'css/photoswipe.css' %}">
	<link rel="stylesheet" href="{% static 'css/default-skin.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/admin.css' %}">
	<link rel="stylesheet" href="{% static 'css/miCuenta.css' %}">

	<!-- Favicons -->
	<link rel="icon" type="image/png" href="{% static 'icon/favicon-32x32.png' %}" sizes="32x32">
	<link rel="apple-touch-icon" href="{% static 'icon/favicon-32x32.png' %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'icon/apple-touch-icon-72x72.png' %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'icon/apple-touch-icon-114x114.png' %}">
	<link rel="apple-touch-icon" sizes="144x144" href="{% static 'icon/apple-touch-icon-144x144.png' %}">

	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Dmitry Volkov">
	<title>{% block title %}{% endblock %}</title>

</head>

<body class="body">

	<!-- header -->
	<header class="header">
		<div class="header__wrap">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="header__content">
							<!-- header logo -->
							<a href="{% url 'home' %}" class="header__logo">
								<img src="{% static 'img/logo.svg' %}" alt="">
							</a>
							<!-- end header logo -->

							<!-- header nav -->
							<ul class="header__nav">

								<!-- end dropdown -->

								<!-- dropdown -->
								<li class="header__nav-item">
									<a class="dropdown-toggle header__nav-link" href="#" role="button"
										id="dropdownMenuCatalog" data-toggle="dropdown" aria-haspopup="true"
										aria-expanded="false">Categorias</a>

									<ul class="dropdown-menu header__dropdown-menu"
										aria-labelledby="dropdownMenuCatalog">
										{% for c in categorias %}
										<li><a href="{% url 'catalogo' c.id %}">{{c.nombre}}</a></li>
										{% endfor %}
									</ul>
								</li>
								<!-- end dropdown -->


							</ul>
							<!-- end header nav -->
							<!-- header auth -->
							<div class="header__auth">
								<button class="header__search-btn" type="button">
									<i class="icon ion-ios-search"></i>
								</button>
								{% if usuario.is_anonymous %}
								<a href="{% url 'sign_up' %}" class="header__account">
									<span>Register</span>
								</a>

								<a href="{% url 'sign_in' %}" class="header__sign-in">
									<i class="icon ion-ios-log-in"></i>
									<span>Log in</span>
								</a>
								{% else %}
									{% if usuario.is_superuser %}
									<a href="{% url 'admin_account' %}" class="header__account">
										<img src="{% static 'img/user.png' %}" hight="25" width="25">
										<span>. . My Account</span>
									</a>
									{% endif %}
									<a href="{% url 'log_out' %}" class="header__sign-in">
										<i class="icon ion-ios-log-in"></i>
										<span>Log out</span>
									</a>
								{% endif %}
							</div>
							<!-- end header auth -->

							<!-- header menu btn -->
							<button class="header__btn" type="button">
								<span></span>
								<span></span>
								<span></span>
							</button>
							<!-- end header menu btn -->
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- header search -->
		<!-- header search -->
		<form action="{% url 'post_buscar_pelicula' %}" method="post" class="header__search">
			{% csrf_token %}
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="header__search-content">
								<input type="text" name="search" placeholder="Buscar Pelicula" required="">
								<button type="submit" value="Buscar">Buscar</button>
						</div>
					</div>
				</div>
			</div>
		</form>
		<!-- end header search -->
		<!-- end header search -->
	</header>
	<!-- end header -->

	<!-- home -->


	{% block contenido %}

	{% endblock %}
	<!-- end footer -->

	<!-- JS -->
	<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/jquery.mousewheel.min.js' %}"></script>
	<script src="{% static 'js/jquery.mCustomScrollbar.min.js' %}"></script>
	<script src="{% static 'js/wNumb.js' %}"></script>
	<script src="{% static 'js/nouislider.min.js' %}"></script>
	<script src="{% static 'js/plyr.min.js' %}"></script>
	<script src="{% static 'js/jquery.morelines.min.js' %}"></script>
	<script src="{% static 'js/photoswipe.min.js' %}"></script>
	<script src="{% static 'js/photoswipe-ui-default.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
</body>

</html>