{% extends "app/base.html" %}
{% load static %}

{% block contenido %}

<section class="section section--first section--bg" data-bg="{% static 'app/img/section/section.jpg' %}">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section__wrap">
					<!-- section title -->
					<h2 class="section__title">{{fuente}}</h2>
					<!-- end section title -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end page title -->

<!-- catalog -->
<div class="catalog">
	<div class="container">
		<div class="row">
			<!-- card -->
			
			{% for p in peliculas %}
			<div class="col-6 col-sm-12 col-lg-6">
				<div class="card card--list">
					<div class="row">
						<div class="col-12 col-sm-4">
							<div class="card__cover">
								<img src="{% get_static_prefix %}{{p.img_url}}" alt="">
								<a href="{% url 'detalle' p.id %}" class="card__play">
									<i class="icon ion-ios-play"></i>
								</a>
							</div>
						</div>

						<div class="col-12 col-sm-8">
							<div class="card__content">
								<br>
								<h3 class="card__title"><a href="#">{{p.titulo}} ({{p.anio}})</a></h3>
								<div class="card__description">
									<p>{{p.sinopsis}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
			<!-- end card -->
		</div>
	</div>
</div>
<!-- end catalog -->

<footer class="footer">
	<div class="container">
		<div class="row">
			<!-- footer list -->

			<!-- end footer list -->

			<!-- footer list -->

			<!-- end footer list -->

			<!-- footer copyright -->
			<div class="col-12">
				<div class="footer__copyright">
					<small><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></small>

				</div>
			</div>
			<!-- end footer copyright -->
		</div>
	</div>
</footer>

{% endblock %}