{% extends "app/base.html" %}
{% load static %}

{% block contenido%}


<!-- details -->
<section class="section details">

	<!-- details background -->
	<div class="details__bg" data-bg="{% static 'img/home/home__bg.jpg' %}"></div>
	<!-- end details background -->

	<!-- details content -->

	<div class="container">

		<!-- title -->
		<div class="col-12">
			<h1 class="details__title">{{pelicula.titulo}}</h1>
		</div>
		<!-- end title -->

		<!-- content -->
		<div class="col-12 col-xl-6">
			<div class="card card--details">
				<div class="row">
					<!-- card cover -->
					<div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-5">
						<div class="card__cover">
							<img src="{% get_static_prefix %}{{pelicula.img_url}}" alt="">
						</div>
					</div>
					<!-- end card cover -->

					<!-- card content -->
					<div class="col-12 col-sm-8 col-md-8 col-lg-9 col-xl-7">
						<div class="card__content">
							<div class="card__wrap">
								<span class="card__rate"><i class="icon ion-ios-star"></i>8.4</span>
							</div>
							<ul class="card__meta">
								<li><span>Release year:</span>{{pelicula.anio}}</li>
								<li><span>Running time:</span>{{pelicula.duracion}}</li>
								<li><span>Sinopsis:</span>{{pelicula.sinopsis}}</li>
								<li><span>Actors:</span>{{pelicula.actores}}</li>
							</ul>
							<!-- 					
									<div class="card__description card__description--details">
										{ <br>
										
									</div> -->
						</div>
					</div>
					<!-- end card content -->
				</div>

			</div>
		</div>
		<hr>
		<div class="all-comments">
			<div class="all-comments-info">
				<h1 class="details__title">Comentarios</h1>
				<div class="agile-info-wthree-box">
					{% if comentarios %}
					{% for c in comentarios %}
					<div class="media">
						<span class="comments__name">{{c.usuario.username}}</span>
						<div class="media-body">
							<p class="comments__text">{{c.texto}}</p>
							{% if usuario.is_superuser %}
							<a href="{% url 'desactivar_comentario' c.id %}">Desactivar Comentario</a>
							{% endif %}
						</div>
					</div>
					{% endfor %}
					{% else %}
					<p class="section__text">Aun no hay comentarios.</p>
					{% endif %}
					<hr>
				</div>
			</div>
			<div class="media-grids">

			</div>
		</div>
		<!-- end content -->
		<div class="all-comments">
			<div class="all-comments-info">

				{% if usuario %}
				<h1 class="details__title">Comentar</h1>
				<div class="agile-info-wthree-box">
					<form action="{% url 'post_guardar_comentario' pelicula.id%}" method="POST">
						{% csrf_token %}
						<textarea placeholder="Mensaje" name="message" required=""></textarea>
						<h1 class="details__title">Puntuacion</h1>
						<select name="rate">
							<option selected value="5">*****</option>
							<option value="4">****</option>
							<option value="3">***</option>
							<option value="2">*</option>
							<option value="1">*</option>
						</select>
						<button class="sign__btn" type="submit">
							<i class="icon ion-ios-log-out"></i>
							<span>Guardar</span>
						</button>
						<div class="clearfix"> </div>
					</form>
				</div>
				{% endif %}
			</div>
			<div class="media-grids">
				{% for c1 in c %}
				<div class="media">
					<h5>{{c1.usuario.username}}</h5>
					<div class="media-body">
						<p>{{c1.texto}}</p>
						{% if u.is_superuser %}
						<a href="{% url 'home' c1.id %}">Desactivar Comentario</a>
						{% endif %}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<!-- end details content -->
</section>

<!-- end details -->


{% endblock %}

</html>