{% extends "app/base.html" %}
{% load static %}
{% static "" as baseUrl %}
{% block contenido %}
<!-- last movies -->
<section class="home">

	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1 class="home__title"><b>Cartelera</b></h1>

				<button class="home__nav home__nav--prev" type="button">
					<i class="icon ion-ios-arrow-round-back"></i>
				</button>
				<button class="home__nav home__nav--next" type="button">
					<i class="icon ion-ios-arrow-round-forward"></i>
				</button>
			</div>

			<div class="col-12">
				<div class="owl-carousel home__carousel">
					{% for c in cartelera %}
					<div class="item">
						<!-- card -->
						<div class="card card--big">
							<div class="card__cover">
								<img src="{% get_static_prefix %}{{c.img_url}}" alt="">
								<a href="{% url 'detalle' c.id %}" class="card__play">
									<i class="icon ion-ios-play"></i>
								</a>
							</div>
							<div class="card__content">
								<h3 class="card__title"><a href="#">{{c.titulo}}</a></h3>
								<span class="card__category">
									<a href=""></a>
								</span>
								<span class="card__rate"><i class="icon ion-ios-star"></i>{{c.v}}</span>
							</div>
						</div>
						<!-- end card -->
					</div>
					{% endfor %}
				</div>

			</div>

		</div>

	</div>
</section>
<!-- new realeses -->
<section class="content">
	<div class="content__head">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- content title -->
					<h2 class="content__title"></h2>
					<!-- end content title -->

					<!-- content tabs nav -->
					<ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1"
								aria-selected="true">Nuevas</a>
						</li>
					</ul>
					<!-- end content tabs nav -->

					<!-- content mobile tabs nav -->
					<div class="content__mobile-tabs" id="content__mobile-tabs">
						<div class="content__mobile-tabs-btn dropdown-toggle" role="navigation" id="mobile-tabs"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<input type="button" value="New items">
							<span></span>
						</div>

						<div class="content__mobile-tabs-menu dropdown-menu" aria-labelledby="mobile-tabs">
							<ul class="nav nav-tabs" role="tablist">
								<li class="nav-item"><a class="nav-link active" id="1-tab" data-toggle="tab"
										href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">NEW
										RELEASES</a></li>

								<li class="nav-item"><a class="nav-link" id="2-tab" data-toggle="tab" href="#tab-2"
										role="tab" aria-controls="tab-2" aria-selected="false">MOVIES</a></li>

								<li class="nav-item"><a class="nav-link" id="3-tab" data-toggle="tab" href="#tab-3"
										role="tab" aria-controls="tab-3" aria-selected="false">TV SERIES</a></li>

								<li class="nav-item"><a class="nav-link" id="4-tab" data-toggle="tab" href="#tab-4"
										role="tab" aria-controls="tab-4" aria-selected="false">CARTOONS</a></li>
							</ul>
						</div>
					</div>
					<!-- end content mobile tabs nav -->
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<!-- content tabs -->
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
				<div class="row">
					<!-- card -->
					{% for n in nuevas %}
					<div class="col-6 col-sm-12 col-lg-6">
						<div class="card card--list">
							<div class="row">
								<div class="col-12 col-sm-4">
									<div class="card__cover">
										<img src="{% get_static_prefix %}{{n.img_url}}" alt="">
										<a href="{% url 'detalle' n.id %}" class="card__play">
											<i class="icon ion-ios-play"></i>
										</a>
									</div>
								</div>

								<div class="col-12 col-sm-8">
									<div class="card__content">
										<br>
										<h3 class="card__title"><a href="#"></a></h3>
										<span class="card__category">
											<a href="#">{{n.titulo}}</a>
										</span>
										<div class="card__wrap">
											<span class="card__rate"><i class="icon ion-ios-star"></i>{{n.v}}</span>
										</div>
										<div class="card__description">
											<p>{{n.sinopsis}}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
					<!-- end card -->
				</div>
			</div>
		</div>
		<!-- end content tabs -->
	</div>
</section>
<!-- expected premiere -->

<section class="section section--bg" data-bg="{% static 'img/section/section.jpg' %}">
	<div class="container">
		<div class="row">
			<!-- section title -->
			<div class="col-12">
				<h2 class="section__title">Top 10</h2>
			</div>
			<!-- end section title -->
			{% for r in rank %}
			<!-- card -->
			<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
				<div class="card">
					<div class="card__cover">
						<img src="{% get_static_prefix %}{{r.img_url}}" alt="">
						<a href="{% url 'detalle' r.id %}" class="card__play">
							<i class="icon ion-ios-play"></i>
						</a>
					</div>
					<div class="card__content">
						<h3 class="card__title"><a href="#"></a></h3>
						<span class="card__category">
							<a href="#">{{r.titulo}}</a>
						</span>
						<span class="card__rate"><i class="icon ion-ios-star"></i>{{r.v}}</span>
					</div>
				</div>
			</div>
			{% endfor %}

		</div>
</section>
{% endblock %}