{% extends "app/base.html" %}
{% load static %}

{% block contenido %}

<section class="section section--first section--bg" data-bg="{% static 'app/img/section/section.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section__wrap">
                    <hr>
                    <div class="container bootstrap snippet">
                        <div>
                            <h1 class="letra">List categories</h1>
                            <div class="tab-pane" id="category">
                                <h2></h2>
                                <hr>
                                <ul class="list-group">
                                    {% for c in categorias %}
                                    <li class="letra"><a href="{% url 'catalogo' c.id %}">{{c.nombre}}</a>></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <!--/tab-pane-->
                        </div><!--/row-->
                    </div>
                </div>
            </div>
        </div>
</section>


{% endblock %}