{% extends "app/base.html" %}
{%block contenido%}

	<div class="sign section--bg" data-bg="img/section/section.jpg">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="sign__content">
						<!-- authorization form -->
						<form action="{% url 'auth_login' %}" class="sign__form" method="POST">
							{% csrf_token %}
							<div class="sign__group">
								<input type="text" class="sign__input" placeholder="username" name="username">
							</div>

							<div class="sign__group">
								<input type="password" class="sign__input" placeholder="Password" name="contrasenia">
							</div>

							<button class="sign__btn" type="submit">
								<i class="icon ion-ios-log-out" ></i>
								<span>sign in</span>
							</button>


							<span class="sign__text">Don't have an account? <a href="{% url 'sign_up' %}">Sign up!</a></span>

						</form>
						<!-- end authorization form -->
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

	<!-- JS -->
	
</body>

</html>