{% extends "app/base.html" %}
{%block contenido%}
<body class="body">

	<div class="sign section--bg" data-bg="img/section/section.jpg">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="sign__content">
						<!-- registration form -->
						<form action="{% url 'guardar_registro' %}" class="sign__form" method="POST">
							{% csrf_token %}
							<div class="sign__group">
								<input type="text" class="sign__input" placeholder="Username" name="username">
							</div>

							<div class="sign__group">
								<input type="text" class="sign__input" placeholder="Email" name="email">
							</div>

							<div class="sign__group">
								<input type="password" class="sign__input" placeholder="Password" name="password">
							</div>

							
							<button class="sign__btn" type="submit">Sign up</button>

							<span class="sign__text">Already have an account? <a href="{% url 'sign_in' %}">Sign in!</a></span>
						</form>
						<!-- registration form -->
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
